:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --gap: 3rem;
}

.menu-content img {
  display: flex;
  width: 20rem;
  align-items: center center;
  top: 0.5rem;
}

.obg-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.main-bg {
  background-image: url('../images/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
  z-index: 3;
}


.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

.menu {
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1rem solid var(--light-gray-color);
  z-index: 1;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  min-height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu-spacing {
  min-height: 0.5rem;
}

.sobre-content {
  position: relative;
  top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.sobre-text-content, .sobre-img, .contatos-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.sobre-text-content h3 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  min-height: 1.3;
  gap: var(--gap);
}
.sobre-text-content p{
  display: flex;
  margin-bottom: 5rem;
}

.sobre-img img {
  max-width: 100%;
  min-height: auto;
}

.servicos-content {
  max-width: 130rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.servicos-content p {
  font-size: 1.9rem;
}

.contatos-content {
  max-width: 130rem;
  top: 0rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.contatos-img {
  display: flex;
  justify-content: center; 
}

.contatos-img img {
  max-width: 100%;
  min-height: auto; 
}

.form {
  grid-template-columns: 1fr 1.5fr;
}

.form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group {
  min-width: 320px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-group input,
.form-group textarea {
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2rem;
}

body .full-area {
  width: 100%;
  flex-grow: 1 1 100%;
}

.form button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-top: 3rem;
}

.form button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: #aca9a9;
}

.numeros-alling{
  display: flex;
gap: 0.1rem;
flex-flow: column wrap;
  align-items: center;
}

.numeros-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  min-height: 10vh;
  justify-content: center;
  align-items: center;
}

.numeros-content div {
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center; 
  align-items: center; 
}

.contatos-content {
display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  top: 1rem;
  justify-content: center;
  align-items: center;
}

.numeros-content {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 0.1;
  gap: 1rem;
  align-items: center;
}

.numeros-content a {
  display: flex; 
  align-items: center; 
  text-decoration: none;
  color: inherit;
  margin-left: -3rem;
  transition: all 300ms ease-in-out;
  left: 5rem;
  white-space: nowrap;
}
.numeros-content a:hover {
  background: var(--white-color);
  color: var(--primary-color);
  padding: 1rem;
  white-space: nowrap;
}


.numeros-content img {
  width: 24px; 
  min-height: 24px;
  margin-left: 5px; 
}

.n2, .n1, .n3, .n4{
 justify-content: center;
 align-items: center;
}
.n4{font-size: 2rem;}


@media (max-width: 768px) {
  .sobre-content {
    grid-template-columns: 1fr; 
    text-align: center; 
  }

  .sobre-img {
    display: none;
  }

  .contatos-content {
    grid-template-columns: 1fr; 
    text-align: center; 
    
  }

  .contatos-img {
    display: none; 
  }
  .mapa{
    max-width: 100%;
    min-height: auto;
    display: none;

    .menu{
      bottom: 0;
      text-align: center;
    }
    
    .menu-content, ul{
      flex-direction: column;
    }
  }
}

.footer {
  text-align: center;
  font-size: 1.5rem;
}
footer a {
  color: dodgerblue;
font-style: italic;
font-size: 2.5rem;
transition: all 300ms ease-in-out;
font-size: 1.5rem;
}
footer a:hover {
background: var(--light-gray-color);
color: var(--primary-color);
padding: 1rem;
margin-bottom: 1rem;
}

.mapa{
  position: relative;
  display: flex;
  top: 2rem;
  justify-content: center ;
  align-items: center center;
}
.localizacao{
  display: flex;
  top: 5rem;
  justify-content: center;
  align-items: center;
}

.endereço{
  position: relative;
  display: flex;
 bottom: 20rem;
justify-content: center;
}




.close-menu{display: none;}



@media (max-width: 800px){
.menu{
  bottom: 0;
  text-align: center;
}
.menu-content, ul{
  flex-direction: column;
  justify-content: center;
}
.menu-content{
  height: 100vh;
}
.menu{
  display: none;
}

.close-menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}
.close-menu-label::after{
  content: '☰';
  position: fixed;
  z-index: 2;
  right: 2rem;
  top: 2rem;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 3rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}
 
.menu-spacing{
  display: none;
  
}
.sobre-text-content{
 margin-top: 13rem;
}

.close-menu:checked~.menu{
display: block;
}
.close-menu:checked~.close-menu-label::after{
  content: '×';
}
.endereço{
  position: relative;
  top: 10rem;
  align-items: center;
  justify-content: center;
}
}

.back {
  
  border: 0.5rem solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-top: 3rem;
}

.back:hover {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 10%;
}

.back-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}